* {
      margin: 0;
      padding: 0;
      border: 0;
      font-family: 'Poppins', sans-serif;

}

/*
green theme = #00FF7F
*/

button {
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
}

ul {
      list-style: none;
      text-decoration: none;
}

li {
      list-style: none;
      text-decoration: none;
}

a{
      cursor: pointer;
}